<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <title>Face Login - {% block title %} Landing Page {% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h5 class="center-align">Face Login System</h5>
    <div class="row">
      {% block mainContent %}
      <div class="collection col s4 offset-s4">
        <a href="/login" class="collection-item">Login</a>
        <a href="/register" class="collection-item">Register</a>
      </div>
      {% endblock %}
    </div>
  </div>
</body>

</html>