{% extends 'index.html' %}
{% block title %} Successfully registered {% endblock %}

{%block mainContent %}

<div class="container">
    <div class="row">
        <div>{{name}} successfully registerd. Lets create a Face ID.</div>
        <div>
            <img id="image">
        </div>
        <div>
            <a href="/registration_success" class="btn">Continue</a>
        </div>
    </div>
</div>

<script>
    var name = {{name|tojson}};
    var url = "http://localhost:5050/add_new?name="+name;
    document.getElementById('image').src = url;
</script>

{% endblock %}